{
    "singleQuote" : false,
    "semi": true,
    " trailingComa" : "none",
    "overrides" : [
        {
            "files": "*.html",
            "options": {
                "parser" : "html"
                

            }
            
        }
    ]
    
}